# `.gitignore` file for ProjectTemplate on gh-pages
# -------------------------------------------------

# Node.js dependencies
node_modules/

# Jekyll specific files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.jekyll-cache

# Temporary files
*.log
*.tmp
*.bak
*.swp
